<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/非依赖属性实现同步/src/非依赖属性实现同步/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="非依赖属性实现同步.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="非依赖属性实现同步"/>
</launchConfiguration>
