<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/并发阶段任务的运行/src/并发阶段任务的运行/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="并发阶段任务的运行.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="并发阶段任务的运行"/>
</launchConfiguration>
