<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletContextDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
      <param-name>address</param-name>
      <param-value>重庆南川</param-value>  
  </context-param>
  <servlet>
       <description></description>
       <display-name>ServletContext01</display-name>
       <servlet-name>ServletContext01</servlet-name>
       <servlet-class>com.zy.servlet.ServletContext01</servlet-class>
  
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContext01</servlet-name>
    <url-pattern>/ServletContext01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContext02</display-name>
    <servlet-name>ServletContext02</servlet-name>
    <servlet-class>com.zy.servlet.ServletContext02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContext02</servlet-name>
    <url-pattern>/ServletContext02</url-pattern>
  </servlet-mapping>
</web-app>